/build/
/build/debug/
/nbproject/
/out/
/.idea/
/target/
**/*.class
**/*.class.h
**/*.so
.vscode
.classpath
.project
.settings
*.iml

**/.resources/
**/*.jar

# ignore all temporary locations related to maven builds
datadog/maven/tmp
datadog/maven/repository
datadog/maven/resources

**/harness*
**/launcher*